<?xml version='1.0' encoding='utf-8'?>
<widget id="site.smup.oeeapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>StartMeUp!</name>
    <description>
        StartMeUp - Gerenciador de OEE.
    </description>
    <author email="tec@smup.site" href="https://www.smup.site/">
        paul8liveira
    </author>
    <content src="index.html" />
    <access origin="https://oee-server.appspot.com" />
    <preference name="StatusBarBackgroundColor" value="#314289" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="DisallowOverscroll" value="true" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.2" />
    <engine name="android" spec="^7.0.0" />
</widget>
