<ons-card *ngFor="let gauge of gauges; let i = index">
  <div class="title">
    <table style="width:100%">
      <tr>
        <td style="width:50%">{{gauge.machine_name}}</td>
        <td style="text-align: right">OEE: {{ gauge.oee[0] ? gauge.oee[0]?.oee : 0 }}%</td>
      </tr>
    </table> 
  </div>  
  <div class="content">
      <div id="chartProduction_{{i}}" [style.width.%]="100" [style.height.px]="250"></div>
      <small>{{gauge.date}}</small>
  </div>
</ons-card>

<ons-card *ngIf="gauges.length == 0">
  <ons-list>             
    <ons-list-item modifier="nodivider">
      Nenhuma medição encontrada com os filtros informados
    </ons-list-item>    
  </ons-list>
</ons-card>