<ons-page>
  <ons-toolbar class="toolbar">
    <div class="center">Data {{date}}</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon [style.display]="machineState == 0 ? 'none': 'block'" icon="md-refresh-sync" size="30px" (click)="changeState(0)"></ons-icon>     
        <ons-icon [style.display]="machineState == 1 ? 'none': 'block'" icon="md-refresh-sync-off" size="30px" (click)="changeState(1)"></ons-icon> 
      </ons-toolbar-button>

      <ons-toolbar-button>
        <ons-icon icon="md-search" size="30px" (click)="dialog.show()"></ons-icon>      
      </ons-toolbar-button>      
    </div>
    <div class="left">
      <ons-toolbar-button (click)="openMenu()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>    
  </ons-toolbar>
  <ons-pull-hook height="64px" threshold-height="128px" (changestate)="onChangeState($event)" (action)="onAction($event)">
    {{hookMessage}}
  </ons-pull-hook>

  <ons-progress-bar indeterminate *ngIf="loading" modifier="material"></ons-progress-bar>
  
  <ons-list>     
    <ons-list-item *ngFor="let feed of feeds; let i = index">
      <div class="left">
        <div class="list-item__thumbnail" style="background-color:lightgrey">
          <div class="icon-container">
           <div class="icon-text">{{feed.mobile_name}}</div>
          </div>
        </div>
      </div>
      <div class="center">
        <span class="list-item__title">{{feed.oee}} - {{feed.time}}</span>
        <span class="list-item__subtitle">
          <span *ngIf="feed.field1_desc">{{feed.field1_desc}}: {{feed.field1}}</span>  
          <span *ngIf="feed.field2_desc">{{feed.field2_desc}}: {{feed.field2}}</span>  
          <span *ngIf="feed.field3_desc">{{feed.field3_desc}}: {{feed.field3}}</span>  
          <span *ngIf="feed.field4_desc">{{feed.field4_desc}}: {{feed.field4}}</span>  
          <span *ngIf="feed.field5_desc">{{feed.field5_desc}}: {{feed.field5}} </span>            
        </span>
      </div>
    </ons-list-item>  
    
    <ons-list-item modifier="nodivider" *ngIf="feeds.length == 0">
      Nenhuma medição encontrada com os filtros informados
    </ons-list-item>    
  </ons-list>

  <!-- <ons-fab position="right bottom" class="fa-button">
    <ons-icon
    (click)="pushFeed()"
    icon="md-edit">
    </ons-icon>
  </ons-fab> -->

  <ons-dialog animation="default" cancelable #dialog>
      <div class="dialog-mask"></div>
        <div class="dialog">
          <div class="dialog-container" style="height: 300px;">
            <ons-page>
              <ons-toolbar>
                <div class="center">Filtros</div>
              </ons-toolbar>
              <div class="content">
                <div style="padding: 10px">
                  <p>
                    <ons-input [(value)]="date" mask="00/00/0000" placeholder="Data" style="width: 100%"></ons-input>
                  </p>
                  <p>
                    <ons-select [(ngModel)]="channelId" style="width: 100%" (change)="onSelectChannel($event.target.value)">
                      <option *ngFor="let channel of channels" [value]="channel.id">
                      {{ channel.name }}
                      </option>
                    </ons-select>
                  </p>
                  <p>
                    <ons-select [(ngModel)]="machineCode" style="width: 100%">
                      <option *ngFor="let machine of machines" [value]="machine.code">
                      [{{ machine.code }}] {{ machine.name }}
                      </option>
                    </ons-select> 
                  </p>
                  <br>
                  <div style="text-align: center">
                      <ons-button (click)="getData(true);dialog.hide()">Filtrar</ons-button>
                  </div>                  
                </div>
              </div>
            </ons-page>
          </div>
        </div>
    </ons-dialog>

</ons-page>