<ons-page>
  <ons-toolbar class="toolbar">
    <div class="center">Medições do dia xx/xx/xxxx</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="md-search" size="30px"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <ons-progress-bar indeterminate *ngIf="loading"></ons-progress-bar>

  <ons-list>
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
    <ons-list-item modifier="chevron" tappable>Chevron</ons-list-item>                                             
  </ons-list>

  <ons-fab position="right bottom" class="fa-button" modifier="mini">
    <ons-icon
    icon="md-edit">
    </ons-icon>
  </ons-fab>

</ons-page>