<ons-splitter>
    <ons-splitter-side #menu side="left" width="220px" [attr.collapse]="'collapse'" [attr.swipeable]="'swipeable'">
        <ons-page>
            <div class="content">
                <ons-list>    
                    <ons-list-item (click)="logout(login)" tappable>
                        <div class="left">
                            <ons-icon icon="md-power-off" class="list-item__icon"></ons-icon>
                        </div>
                        <div class="center">
                            Desconectar
                        </div>
                    </ons-list-item>
                    <ons-list-header>Versão {{version}}</ons-list-header>                    
                </ons-list>    
            </div>        
        </ons-page>
    </ons-splitter-side>
    <ons-splitter-content>
      <ons-navigator #navi swipeable [page]="initialPage"></ons-navigator>
    </ons-splitter-content>
  </ons-splitter>