<ons-page>
  <ons-toolbar>
    <div class="center">Entrar</div>
    <div class="right">
      <ons-toolbar-button (click)="pushCadastreSe()">Cadastre-se</ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="login-form">

    <input type="email" class="text-input--underbar" placeholder="E-mail" value="">
    <input type="password" class="text-input--underbar" placeholder="Senha" value="">
    <br><br>
    <ons-button modifier="large" class="login-button">Entrar</ons-button>
    <br><br>
    <ons-button modifier="quiet" class="forgot-password">Esqueceu sua senha?</ons-button>
  </div>

</ons-page>