<ons-page>
  <ons-toolbar class="toolbar">
    <div class="center">Entrar</div>
    <div class="right">
      <ons-toolbar-button (click)="pushCadastreSe()">
        <ons-icon icon="md-account-circle" size="30px"></ons-icon>
      </ons-toolbar-button>      
    </div>
  </ons-toolbar>
  <ons-progress-bar indeterminate *ngIf="loading" modifier="material"></ons-progress-bar>
  <form 
    name="form" 
    (ngSubmit)="f.form.valid" #f="ngForm" 
    class="needs-validation">

    <div class="login-form">
      <img src="./assets/images/logo.png" alt="" height="72">
      <input 
        name="username" 
        [(ngModel)]="user.username"           
        #username="ngModel"
        required        
        type="email" 
        placeholder="E-mail" 
        maxlength="100"
        value=""
        class="text-input--underbar"
        [disabled]="loading"
      >
      <input 
        id="password"
        name="password" 
        [(ngModel)]="user.password"           
        #password="ngModel"
        minlength="6"
        maxlength="20"
        required        
        type="password" 
        placeholder="Senha" 
        value=""
        class="text-input--underbar"
        [disabled]="loading"
      >    
      <br><br>
      <ons-button 
        modifier="large" 
        class="login-button"
        (click)="login()"
        [disabled]="loading || !f.form.valid">
        Entrar
      </ons-button>
      <br><br>
      <!-- <ons-button modifier="quiet" class="forgot-password">Esqueceu sua senha?</ons-button> -->
    </div>    
  </form>
</ons-page>