.toolbar {
    background-color: #3D5FA9;
}
  
.toolbar:active {
    background-color: #3D5FA9;
}

.toolbar * {
    color: #FFFFFF;
}

.back-button--material__icon {
    fill: #FFFFFF;
}

.button--material {
    background-color: #A7CD44;
}

.progress-bar--material.progress-bar--indeterminate:before {
    background-color: #A7CD44;
}

.progress-bar--material.progress-bar--indeterminate:after {
    background-color: #A7CD44;
}